@import"../../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
.borderAdBoxShadow{
  border: 0;
  box-shadow:  rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px   6px
}

.borderAdBoxShadow h5{
  font-weight: 500;
  font-size: 20px;
  line-height:1.2 ;
}

.borderAdBoxShadow .line{
  position: relative;
}

.borderAdBoxShadow .line::after{
  content: "";
  width: 80%;
  height: 2px;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  top: 45%;
  left: 5%;
}




.backgroundBtn{
background-color: rgba(25 , 135, 84, .15);
}
