<div class="container">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/img/slid1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/slid2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/img/slid3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>





<div class="container">
  <h1 class="mt-4">Categories</h1>

  <div class="row px-2">
    <div class=" col-6     my-col-1    col-md-2  d-flex justify-content-center align-items-center  text-center ">
      <div class="   w-100 ">
        <img src="../../../../assets/img/ground2.png" class="mt-2 img-fluid">
        <h2 class=" py-2 text-center">Improvers</h2>
      </div>
    </div>
    <div class=" col-6 my-col-1 col-md-2 offset-md-1 text-center ">
      <div class="   p-2 w-100   ">
        <img src="../../../../assets/img/ground1.png" class="mt-2 img-fluid">
        <h2 class="py-2 text-center ">Improvers</h2>

      </div>
    </div>
    <div class=" col-6 my-col-1  col-md-2  offset-md-1 text-center ">
      <div class="   p-2 w-100   py-2">
        <img src="../../../../assets/img/ground3.png" class="mt-2 img-fluid">
        <h2 class="py-2 text-center ">Improvers</h2>

      </div>
    </div>
    <div class=" col-6 my-col-1 col-md-2  offset-md-1 text-center ">
      <div class="   p-2 w-100   py-2">
        <img src="../../../../assets/img/ground4.png" class="mt-2 img-fluid">
        <h2 class="py-2 text-center ">Improvers</h2>

      </div>
    </div>
  </div>
</div>



<div class="container">

  <h1 class="py-3">Recent Products</h1>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of AllData">
      <ng-template carouselSlide [id]="slide.userId">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>
              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success   fa fa-star"></i>
                    <i class="text-success   fa fa-star"></i>
                    <i class="text-success   fa fa-star"></i>
                    <i class="text-muted  fa fa-star"></i>
                    <i class="text-muted  fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
            <br>


            <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>

              <a (click)="AddToCart(slide)" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>


<div class="container">
  <h1 class="py-3">Our Products</h1>
  <div class="row">
    <div class="row py-3">
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>
              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
            <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a   href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
              </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">
        <div class="card borderAdBoxShadow mx-2 my-3">
          <img src="../../../../assets/img/Untitled.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Hummer F1 Red Sweet Pepper Holland 1000s</h5>

              <ul class="list-unstyled  mb-1">
                <li>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-success  fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    (3.0)
                </li>
            </ul>
              <div class="d-flex justify-content-between  ">
              <p class="card-text py-1 ">14.6 KD <span class="line px-2">25.6 KD</span> </p>
              <a href="#" class="btn text-success backgroundBtn"> <i class="fa-solid fa-cart-shopping"></i> Add </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
