
<div class="pairt">
  <div class="row   py-5 w-100">
    <div class="col-12 col-md-6 m-auto   bg-light rounded">
      <div class="px-3 pt-3">
        <h1>Add new Address</h1>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mx-auto">
          <div class="">

            <form [formGroup]="AddNewAddress" (ngSubmit)="AddNewAddressMethod()">
              <div class="form-group py-2 mt-4">

                <input placeholder="Enter your   name" class="form-control" type="text" formControlName="Name">
                <div class="" role="alert"
                  *ngIf="AddNewAddress.get('Name')?.errors &&AddNewAddress.get('Name')?.touched">
                  <p class="alert alert-danger " *ngIf="AddNewAddress.get('Name')?.getError('required') "> plese
                    enter
                    Name </p>
                </div>
              </div>
              <div class="form-group py-2">
                <input class="form-control mt-2" placeholder="enter your Phone Number" type="text"
                  formControlName="phone">
                <div class="" role="alert"
                  *ngIf="AddNewAddress.get('phone')?.errors &&AddNewAddress.get('phone')?.touched">
                  <p class="alert alert-danger " *ngIf="AddNewAddress.get('phone')?.getError('required') ">
                    plese enter Phone
                    Number</p>
                  <p class="alert alert-danger " *ngIf="AddNewAddress.get('phone')?.getError('pattern') "> plese
                    Edit Phone
                    Number </p>
                </div>
              </div>
              <div class="form-group py-2">
                <input class="form-control mt-2" placeholder="Enter your StreetNumber" type="text"
                  formControlName="StreetNumber">
                <div class="  " role="alert"
                  *ngIf="AddNewAddress.get('StreetNumber')?.errors &&AddNewAddress.get('StreetNumber')?.touched">
                  <p class="alert alert-danger " *ngIf="AddNewAddress.get('StreetNumber')?.getError('StreetNumber') ">
                    plese enter
                    StreetNumber
                  </p>
                </div>
              </div>
              <input class="form-control mt-2 " type="text" placeholder="enter your BlockNumber"
                formControlName="BlockNumber">
              <div class="" role="alert"
                *ngIf="AddNewAddress.get('BlockNumber')?.errors &&AddNewAddress.get('BlockNumber')?.touched">
                <p class="alert alert-danger " *ngIf="AddNewAddress.get('BlockNumber')?.getError('required') ">
                  plese enter
                  BlockNumber
                </p>
                <p class="alert alert-danger " *ngIf="AddNewAddress.get('BlockNumber')?.getError('pattern') ">
                  plese Edit
                  BlockNumber
                </p>
              </div>
              <input class="form-control mt-2 " type="text" placeholder="enter your VillaHouseNumber"
                formControlName="VillaHouseNumber">
              <div class="" role="alert"
                *ngIf="AddNewAddress.get('VillaHouseNumber')?.errors &&AddNewAddress.get('VillaHouseNumber')?.touched">
                <p class="alert alert-danger " *ngIf="AddNewAddress.get('VillaHouseNumber')?.getError('required') ">
                  plese enter
                  VillaHouseNumber
                </p>
                <p class="alert alert-danger " *ngIf="AddNewAddress.get('VillaHouseNumber')?.getError('pattern') ">
                  plese Edit
                  VillaHouseNumber
                </p>
              </div>


              <p class="py-3">Please select your AddressType:</p>
              <input type="radio" formControlName="AddressType" value="Home">
              <label class="mx-2"> Home</label>
              <input type="radio" formControlName="AddressType" value="Farm">
              <label class="mx-2"> Farm</label>
              <input type="radio" formControlName="AddressType" value="Other">
              <label>Other </label><br><br>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" formControlName="defaultAddresse">
                <label class="form-check-label" for="exampleCheck1">Use as default address</label>
              </div>
              <button class="btn btn-success my-2" type="submit" [disabled]="AddNewAddress.invalid">Sign
                up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
