<div class="container">
  <div class="row">
    <div class="col-10 col-md-5 m-auto">
      <div class="">
        <img src="../../../../assets/img/details.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-md-7">
      <div class="">
        <p class="">Kuwaitec United</p>
        <h1 class="fos-40 fawMedium">FLORAMAZOLE 40% 250ML</h1>
        <ul class="list-unstyled  mb-1">
          <li>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success fa fa-star"></i>
            <i class="text-muted fa fa-star"></i>
            (4.0)
          </li>
        </ul>
        <h3 class="fos-40 fawMedium">14 KD</h3>
        <p class="fsoRegular fos-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

          exercitation ullamc</p>
        <h3 class="float-start py-2 fos-20 fawMedium ">Quantity : <a
            class=" mx-2 rounded border border-dark text-dark border-2 p-1"><i class="fa-solid fa-minus"></i></a> <span
            class="fa-xl"> {{quantity}} </span>
          <a class="mx-2 rounded border border-dark text-dark border-2 p-1 "><i class="fa-solid fa-plus"></i></a>
        </h3>
        <button class="btn btn-success float-start mx-2 py-2" (click)="AddCartMethod()"> <i
            class="fa-solid fa-cart-shopping"></i> Add to
          Cart</button>
      </div>
    </div>
  </div>
  <hr>


  <h2 class="py-2  fos-24 fawMedium ">Product Description</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud

    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


  <hr>
  <h2 class="py-2">Rating & Review</h2>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="border rounded p-2 m-2">
        <ul class="list-unstyled  my-2">
          <li>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success fa fa-star"></i>
            <i class="text-success fa fa-star"></i>
          </li>
        </ul>
        <p class="form-label " style="font-weight:600">Amazing</p>
        <p class="fsoRegular fos-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud

          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <hr class="py-2">
      </div>
    </div>
    <div class="col-md-4">
      <div class="    p-2 m-2">
        <div class="modal fade " id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
          tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  ">
              <div class="modal-header border-0">
                <h1 class="modal-title fs-5 pt-3" id="exampleModalToggleLabel">Write Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-3">
                    <div class="">
                      <img src="../../../../assets/img/ground1.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="">
                      <h3 class="pt-3 fa-xl">PUMPKIN TOPHARVEST 500s</h3>
                      <ul class="list-unstyled  ">
                        <li>
                          <i class="text-success  fa fa-star"></i>
                          <i class="text-success  fa fa-star"></i>
                          <i class="text-success  fa fa-star"></i>
                          <i class="text-success fa fa-star"></i>
                          <i class="text-success fa fa-star"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="mb-3 pt-3">
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Heading">
                </div>
                <div class="mb-3">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                    placeholder="Body"></textarea>
                </div>

                <div class=" m-3">
                  <button class="btn btn-success" data-bs-toggle="modal">Submit</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <ul class="list-unstyled  mb-1">
          <h1>Overall Rating</h1>
          <li>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success  fa fa-star"></i>
            <i class="text-success fa fa-star"></i>
            <i class="text-success fa fa-star"></i>
            <h2 class="float-end"> 4.8 out of 5 </h2>
          </li>
        </ul>
        <br>

        <div class="row my-2">
          <div class="col-1">
            <div class="mt-1  reviewInput">

              <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            </div>
          </div>
          <div class="col-1">
            <div class="pt-1">
              <h2 class="fa-xl">5</h2>
            </div>
          </div>

          <div class="col-2 text-center">
            <div class="">
              <i class="text-success fa fa-star fa-xl"></i>
            </div>
          </div>

          <div class="col-8">
            <div class=" w-100">
              <div class="bg-secondary w-100  mt-2  rounded" style="height: 1vh;">
                <div class="w-75 bg-success  h-100 rounded"></div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mt-1  reviewInput">

              <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            </div>
          </div>
          <div class="col-1">
            <div class="pt-1">
              <h2 class="fa-xl">4</h2>
            </div>
          </div>

          <div class="col-2 text-center">
            <div class="">
              <i class="colorsusc fa fa-star fa-xl"></i>
            </div>
          </div>

          <div class="col-8">
            <div class=" w-100">
              <div class="bg-secondary w-100  mt-2  rounded" style="height: 1vh;">
                <div class="w-75 backgroundBtn  h-100 rounded"></div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mt-1  reviewInput">

              <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            </div>
          </div>
          <div class="col-1">
            <div class="pt-1">
              <h2 class="fa-xl">3</h2>
            </div>
          </div>

          <div class="col-2 text-center">
            <div class="">
              <i class="text-warning fa fa-star fa-xl"></i>
            </div>
          </div>

          <div class="col-8">
            <div class=" w-100">
              <div class="bg-secondary w-100  mt-2  rounded" style="height: 1vh;">
                <div class="w-75 bg-warning  h-100 rounded"></div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mt-1  reviewInput">

              <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            </div>
          </div>
          <div class="col-1">
            <div class="pt-1">
              <h2 class="fa-xl">2</h2>
            </div>
          </div>

          <div class="col-2 text-center">
            <div class="">
              <i class="colorOrange fa fa-star fa-xl"></i>
            </div>
          </div>

          <div class="col-8">
            <div class=" w-100">
              <div class="bg-secondary w-100  mt-2  rounded" style="height: 1vh;">
                <div class="w-75 bgOrange h-100 rounded"></div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="mt-1  reviewInput">

              <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            </div>
          </div>
          <div class="col-1">
            <div class="pt-1">
              <h2 class="fa-xl">1</h2>
            </div>
          </div>

          <div class="col-2 text-center">
            <div class="">
              <i class="text-danger fa fa-star fa-xl"></i>
            </div>
          </div>

          <div class="col-8">
            <div class=" w-100">
              <div class="bg-secondary w-100  mt-2  rounded" style="height: 1vh;">
                <div class="w-75 bg-danger  h-100 rounded"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <button class="btn btn-success float-end my-3" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal">Write a review</button>
          <div style="clear: both;"></div>
        </div>


      </div>
    </div>
  </div>

</div>
