<div class="w-100 bg-success py-2" style="position: relative;bottom: 0;">
  <div class="container">
    <div class="row pt-2">
      <div class="col-12 col-md-8">
        <div class="">
          <p class="text-light">All right are received {{year}}  @ Kuwatiec United</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="">
            <ul class=" d-flex  justify-content-around align-items-center">
              <li class="nav-item">
                <a class="nav-link   text-light" aria-current="page" href="#">Terms & Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Contact Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link disabled  text-light">Our Policy</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
