@import"../../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

 h5{
  font-weight: 500;
  font-size: 20px;
  line-height:1.2 ;
}

.line{
  position: relative;
}

 .line::after{
  content: "";
  width: 80%;
  height: 2px;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  top: 45%;
  left: 5%;
}

.clerBth{
  clear: both;
}
.modal-dialog{
  max-width: 41% !important;
}
@media only screen and (max-width: 600px) {
  .modal-dialog{
    max-width: 95% !important;
    margin: auto;
  }
}
