<p>order-id works!</p>
<div class="container my-3">
  <div class="row">
    <div class="col-md-7">
      <h3 class="h1">Order ID</h3>
      <p>14,June,2023</p>
      <a href="" class="text-end text-success">Download Invoice</a>
      <div class="border rounded p-3 my-3">
        <h3>Shipping Address</h3>
        <p>13/2 Khytan , Block 3 , El Farwanya</p>
        <div class="" style="clear: both;"></div>
      </div>
      <div class="border rounded p-3 ">
        <div class="row">
          <div class="col-3 my-3">
            <div class="">
              <img src="../../../../assets/img/ground1.png" alt="">
            </div>
          </div>
          <div class="col-6 pt-4">
            <p>Kuwaitec United</p>
            <h4>NANO COPPER 1 li</h4>
            <h3 class="float-start">30 KD  </h3>
            <p>2 units</p>
          </div>
          <div class="col-3 pt-4">
            <h3 class="card-text py-1 "> Order Status </h3>
            <p><a href="" class="text-danger">Product ID</a> </p>
          </div>
          <hr>
        </div>

      </div>
      <div class="border rounded p-3 ">
        <div class="row">
          <div class="col-3 my-3">
            <div class="">
              <img src="../../../../assets/img/ground1.png" alt="">
            </div>
          </div>
          <div class="col-6 pt-4">
            <p>Kuwaitec United</p>
            <h4>NANO COPPER 1 li</h4>
            <h3 class="float-start">30 KD  </h3>
            <p>2 units</p>
          </div>
          <div class="col-3 pt-4">
            <h3 class="card-text py-1 "> Order Status </h3>
            <p><a href="" class="text-danger">Product ID</a> </p>
          </div>
          <hr>
        </div>

      </div>
      <div class="border rounded p-3 ">
        <div class="row">
          <div class="col-3 my-3">
            <div class="">
              <img src="../../../../assets/img/ground1.png" alt="">
            </div>
          </div>
          <div class="col-6 pt-4">
            <p>Kuwaitec United</p>
            <h4>NANO COPPER 1 li</h4>
            <h3 class="float-start">30 KD  </h3>
            <p>2 units</p>
          </div>
          <div class="col-3 pt-4">
            <h3 class="card-text py-1 "> Order Status </h3>
            <p><a href="" class="text-danger">Product ID</a> </p>
          </div>
          <hr>
        </div>

      </div>
      <div class="border rounded p-3 ">
        <div class="row">
          <div class="col-3 my-3">
            <div class="">
              <img src="../../../../assets/img/ground1.png" alt="">
            </div>
          </div>
          <div class="col-6 pt-4">
            <p>Kuwaitec United</p>
            <h4>NANO COPPER 1 li</h4>
            <h3 class="float-start">30 KD  </h3>
            <p>2 units</p>
          </div>
          <div class="col-3 pt-4">
            <h3 class="card-text py-1 "> Order Status </h3>
            <p><a href="" class="text-danger">Product ID</a> </p>
          </div>
          <hr>
        </div>

      </div>
    </div>
    <div class="col-md-4 px2 offset-md-1">
      <h3>Payment Details</h3>
      <div class="">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Promocode</label>
          <br>
          <input type="text" class="form-control w-75 float-start" placeholder="FREBZY7">
          <button class="btn btn-success float-end px-4">Apply</button>
          <div class="clerBth"></div>
        </div>
        <div class="border rounded p-3 my-4">
          <p class="float-start">Subtotal</p>
          <p class="float-end">$ 24</p>
          <div class="clerBth"></div>
          <p class="float-start">Discount</p>
          <p class="float-end">$ 0</p>
          <div class="clerBth"></div>
          <p class="float-start">Delivery</p>
          <p class="float-end">$ 8</p>
          <div class="clerBth"></div>
          <hr>
          <h2 class="float-start">Total</h2>
          <h2 class="float-end">$ 32</h2>
          <div class="clerBth"></div>
          <div class="text-center my-2">
            <button class="btn btn-success px-3">Pay Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
