<div class="pairt">
<div class="row  h-100 w-100">
  <div class="col-12 col-md-5 m-auto h-75  bg-light rounded">
    <div class=" text-center">
      <img src="../../../../assets/img/Dane.png" class=" img-fluid py-5" alt="">
      <h3 class="text-success pb-3 text-center">Payment received</h3>
      <div class="mx-3 border rounded my-2 p-2 text-start">
        <p>Delivery to :</p>
        <p>Yasser Masry</p>
        <p>Delivery by : 24 nov , wed</p>
      </div>
      <button class="btn btn-success m-auto text-center my-3">Continue Shopping</button>
    </div>
  </div>
</div>
</div>
