
<div class="container py-2">
  <h2 class="py-3">My Profile</h2>
  <div class="p-3 border rounded bg-light my-2">
    <h3>General Info</h3>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for=""></label>
          <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for=""></label>
          <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for=""></label>
          <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>
      <button class="btn btn-success p-3">Update</button>
    </div>
  </div>
  <div class="p-3 border rounded bg-light my-2">
    <h3>Security</h3>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" name="" id="" class="form-control" placeholder="yassermasry69@gmail.com" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="">Phone number</label>
          <input type="text" name="" id="" class="form-control" placeholder="+966333332" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>

      <button class="btn btn-success p-3">Change phone number</button>
      <button class="btn btn-success p-3">Change Password</button>
      <a href="">Verify number</a>
    </div>
  </div>
</div>
