@import"../../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

.borderAdBoxShadow{
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;}

.borderAdBoxShadow h5{
  font-weight: 500;
  font-size: 20px;
  line-height:1.2 ;
}

.borderAdBoxShadow .line{
  position: relative;
}

.borderAdBoxShadow .line::after{
  content: "";
  width: 80%;
  height: 2px;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  top: 45%;
  left: 5%;
}

.backgroundBtn{
  background-color: #def9ec;
  font-weight: 600;
  }
.text-bold{
  font-weight: 500;
}

.Catigory{
  min-height: 80vh;
  color: black;
}

h3{
  font-size: 19px;
}

.NameCardEn{
  font-weight: 600 !important;
  font-size: 15px !important;
  /* height: 4.2vh; */
}
