<div class="border-top Catigory">
  <div class="container-fluid ">
    <div class="row ">
      <div class="col-md-3 border-end">
        <div class="container py-3">
          <div class="col px-md-3 my-md-3">

            <h3 (click)="ViewInputCategoryMethod()"><span class=" fas-18 fawMedium my-3  "> Category</span> <i
                class="fa-solid fa-chevron-down float-end fas-16 fawfawSemiBold"></i>
            </h3>
            <div class="" *ngIf="ViewInputCategory">
              <ng-container *ngFor="let item of Category; let i=index">
                <input type="radio" name="filterCategory" class="form-check-input m-2" [(ngModel)]="CategoriesValue"
                  (change)="changevalueCategory()" [value]="i+1">
                <label class="form-label my-1 fas-16 fawMedium "> {{item.name_en}}</label> <br>
              </ng-container>


            </div>
          </div>

          <div class="col px-md-3 my-md-3">

            <h3 (click)="ViewInputPriceMethod()"><span class="fas-18 fawMedium my-3  "> price</span> <i
                class="fa-solid fa-chevron-down float-end fas-16 fawSemiBold"></i>
            </h3>
            <div class="" *ngIf="ViewInputPrice">

              <label for="customRange3" class="form-label"> price : {{filterPrice}} KD</label>
              <input type="range" class="form-range" min="2" max="150" [(ngModel)]="filterPrice"
                (change)="pricevalueMethod()">

            </div>
          </div>

          <div class="col px-md-3 my-md-3">

            <h3 (click)="ViewInputSellerMethod()"><span class="fas-18 fawMedium my-3  "> Seller</span> <i
                class="fa-solid fa-chevron-down float-end "></i>
            </h3>
            <div class="" *ngIf="ViewInputSeller">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row py-3">
          <ng-container *ngFor="let item of AllProdicts ">
            <div class="col-md-6 col-lg-4 col-xl-3 ">
              <div class="card borderAdBoxShadow mx-2 my-3">
                <img [src]="pathImage+item.main_image" class="card-img-top" style="height: 32vh;">
                <div class="card-body">
                  <h5 class="card-title NameCardEn">{{item.name_en}}</h5>
                  <ul class="list-unstyled  mb-1">
                    <li>

                      <ng-container *ngIf="item.rate!=null">
                        <ng-container *ngFor="let itemNUm of ArrayRetetNum;let i=index">

                          <ng-container *ngIf="i<item.rate">
                            <i class="text-success   fa fa-star"></i>
                          </ng-container>

                          <ng-container *ngIf="i>item.rate">
                            <i class="fa-regular text-success fa-star"></i>
                          </ng-container>

                        </ng-container>


                        <!-- <i class="text-success  fa fa-star"></i>
                      <i class="text-success  fa fa-star"></i>
                      <i class="text-success  fa fa-star"></i>
                      <i class="text-muted fa fa-star"></i>
                      <i class="text-muted fa fa-star"></i> -->
                        (3.0{{item.rate}})
                      </ng-container>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-between  ">
                    <p class="card-text py-1 "><span class="text-success fas-20 fawBold">{{item.price}} KD</span> <span
                        class="line px-2" *ngIf="item.price_before_sale!=null">{{item.price_before_sale }} KD</span>
                    </p>
                    <a (click)="AddToCart(item)" class="btn text-success backgroundBtn"> <i
                        class="fa-solid fa-cart-shopping"></i> Add </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>


        </div>
      </div>
    </div>
  </div>

</div>
