<p>order-id works!</p>
<div class="container my-3">
  <div class="row">
    <div class="col-md-7">
      <h3 class="h1">My Address</h3>
      <button class="btn btn-success my-2">Add New Address</button>

      <p class="my-2 ">Add New Address</p>
      <div class="row border rounded p-3 my-3">
        <div class="col-9">

          <h2>Home</h2>
          <h3>Yasser Masry</h3>
          <p>13/2 Khytan , Block 3 , El Farwanya</p>
          <div class="" style="clear: both;"></div>
        </div>
        <div class="col-3">
          <a href="" class="float-start">Edit</a>
          <a href="" class="float-start">Remove</a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
      <h3 class="h1 py-3">Other Addresses</h3>

      <div class="row border rounded p-3 my-3">
        <div class="col-9">
          <h2>Home</h2>
          <h3>Yasser Masry</h3>
          <p>13/2 Khytan , Block 3 , El Farwanya</p>
          <div class="" style="clear: both;"></div>
        </div>
        <div class="col-3">
          <a href="" class="float-start">Edit</a>
          <a href="" class="float-start">Remove</a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
