<div class="container my-3">
  <div class="row">
    <div class="col-md-7">
      <h3 class="h1">My Address</h3>
      <a href="user/addAddress" class="btn btn-success my-2">Add New Address</a>
      <ng-container *ngFor="let item of AllAdress">
        <div class="row border rounded p-3 my-3" *ngIf="item.default">
          <p class="my-2 ">Default Address</p>
          <div class="col-9">
            <h2> <span *ngIf="item.address_type=='1'">Home</span> <span *ngIf="item.address_type=='2'">Farm</span><span
                *ngIf="item.address_type=='3'">Other</span> </h2>
            <h4>{{item.name}}</h4>
            <p>{{item.street_name}} ,{{item.block}} ,{{item.area_name}} </p>
            <p>{{item.additional_instructions}}</p>
            <div class="" style="clear: both;"></div>
          </div>
          <div class="col-3">
            <a (click)="goToChangeAddress(item)" class="float-start px-2">Edit</a>
            <a (click)="deletAddress(item.id)" class="float-start">Remove</a>
            <div class="" style="clear: both;"></div>
          </div>
        </div>
      </ng-container>

      <h3 class="h1 py-3">Other Addresses</h3>

      <ng-container *ngFor="let item of AllAdress">
        <div class="row border rounded p-3 my-3">
          <div class="col-9">
            <h2> <span *ngIf="item.address_type=='1'">Home</span> <span *ngIf="item.address_type=='2'">Farm</span><span
                *ngIf="item.address_type=='3'">Other</span> </h2>
            <h4>{{item.name}}</h4>
            <p>{{item.street_name}} ,{{item.block}} ,{{item.area_name}} </p>
            <p>{{item.additional_instructions}}</p>
            <div class="" style="clear: both;"></div>
          </div>
          <div class="col-3">
            <a (click)="goToChangeAddress(item)" class="float-start px-2">Edit</a>
            <a (click)="deletAddress(item.id)" class="float-start">Remove</a>
            <div class="" style="clear: both;"></div>
          </div>
        </div>
      </ng-container>


    </div>
  </div>
</div>
