<div class="container">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-10 col-md-4">
      <form [formGroup]="signIn" (ngSubmit)="signInMethod()">
        <h1 class="h2">Sign In</h1>
        <div class="form-group py-2">
          <label for="my-input">Phone  or Email</label>
          <input class="form-control mt-2" placeholder="enter your Phone Number" type="text" formControlName="phone">
          <div class="" role="alert" *ngIf="signIn.get('phoneOrEmail')?.errors &&signIn.get('phoneOrEmail')?.touched">
            <p class="alert alert-danger " *ngIf="signIn.get('phoneOrEmail')?.getError('required') "> plese enter Phone
              Number</p>
            <p class="alert alert-danger " *ngIf="signIn.get('phoneOrEmail')?.getError('pattern') "> plese Edit Phone
              Number </p>
          </div>
        </div>
        <button class="btn btn-success my-2" type="submit" [disabled]="signIn.invalid">Sign up</button>

      </form>

    </div>
  </div>
</div>
