<div class="container ">
  <div class="row d-flex justify-content-center align-items-center minHiegt">
    <div class="col-10 col-md-3">
      <form [formGroup]="ChangePassword" (ngSubmit)="ChangePasswordMethod()">
        <h1 class="h2">Change Password  </h1>
        <div class="form-group py-2">
          <label for="my-input">old password</label>
          <input class="form-control mt-2" placeholder="enter your old password" type="password" formControlName="old_password">
          <div class="" role="alert" *ngIf="ChangePassword.get('old_password')?.errors &&ChangePassword.get('old_password')?.touched">
            <p class="alert alert-danger py-1 " *ngIf="ChangePassword.get('old_password')?.getError('required') "> plese enter
              Number</p>
            <p class="alert alert-danger " *ngIf="ChangePassword.get('old_password')?.getError('pattern') "> plese Edit
              old password </p>
          </div>
        </div>
        <div class="form-group py-2">
          <label for="my-input">new password</label>
          <input class="form-control mt-2" placeholder="enter your new password" type="password" formControlName="new_password">
          <div class="" role="alert" *ngIf="ChangePassword.get('new_password')?.errors &&ChangePassword.get('new_password')?.touched">
            <p class="alert alert-danger  py-1" *ngIf="ChangePassword.get('new_password')?.getError('required') "> plese enter
              new password</p>
            <p class="alert alert-danger " *ngIf="ChangePassword.get('new_password')?.getError('pattern') "> plese Edit
              new password </p>
          </div>
        </div>
        <p class="text-danger text-center">{{errorMssage}}</p>
        <button class="btn btn-success my-2" type="submit" [disabled]="ChangePassword.invalid">Change</button>

      </form>

    </div>
  </div>
</div>
