<div class="Greenfarm ">
  <div class="caption text-center   ">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="text-light">
        <h1>Quality Control</h1>
        <p>Our home garden landscaping service ensures meticulous quality control at every step, ensuring beautiful and
          sustainable landscapes that exceed your expectations. Satisfaction guaranteed!</p>

      </div>
    </div>
  </div>

</div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-4 ">
      <div class=" p-3 border  my-2">
        <div class="border py-1  ">
          <img src="../../../../assets/img/Quality1.png" class="img-fluid float-start m-2" alt="">
          <a href="" class="float-start pt-5">
            <h3 class="pt-1 px-2 textquality text-success ">Best Equipment</h3>
          </a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class=" p-3 border  my-2">
        <div class="border py-1  ">
          <img src="../../../../assets/img/Quality2.png" class="img-fluid float-start m-2" alt="">
          <a href="" class="float-start pt-5">
            <h3 class="pt-1 px-2 textquality text-success ">Dedicated Team</h3>
          </a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class=" p-3 border  my-2">
        <div class="border py-1  ">
          <img src="../../../../assets/img/Quality3.png" class="img-fluid float-start m-2" alt="">
          <a href="" class="float-start pt-5">
            <h3 class="pt-1 px-2 textquality text-success ">Maintenance</h3>
          </a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class=" p-3 border  my-2">
        <div class="border py-1  ">
          <img src="../../../../assets/img/Quality4.png" class="img-fluid float-start m-2" alt="">
          <a href="" class="float-start pt-4">
            <h3 class="pt-1 px-2 textquality text-success ">New Designs <br>...</h3>
          </a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class=" p-3 border  my-2">
        <div class="border py-1  ">
          <img src="../../../../assets/img/Quality3.png" class="img-fluid float-start m-2" alt="">
          <a href="" class="float-start pt-4">
            <h3 class="pt-1 px-2 textquality text-success ">Professional<br>
              Installation</h3>
          </a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class=" p-3 border  my-2">
        <div class="border py-1  ">
          <img src="../../../../assets/img/Quality6.png" class="img-fluid float-start m-2" alt="">
          <a href="" class="float-start pt-4">
            <h3 class="pt-1   textquality text-success ">High-Quality<br>
              Materials</h3>
          </a>
          <div class="" style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bgSliderQuality">
  <div class="container h-100">
    <h1 class="text-center pt-5 text-success" style="font-size:2.5rem;font-weight: bold;">What People Say</h1>
    <div class="row h-75 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-7 bg-light  mx-auto ">
          <app-people-say></app-people-say>
      </div>
    </div>
  </div>
</div>
<app-our-gallery></app-our-gallery>
<app-get-in-touch></app-get-in-touch>

